@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;

}

ol,
ul,
h1,
h2,
h4,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h4 {
    font-family: 'DM Serif Display', serif;
}


/* HEADER */





/* HOME */

.container-full-width {
    position: relative;
    text-align: center;

    height: 260px;
    width: 100%;
}

.container-full-width img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    opacity: 40%;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.centered-text h4 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

#home button {
    margin-top: 10px;
    height: 25px;
    width: 90px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
}


/* ABOUT */

#about {
    padding: 30px 30px 15px 30px;
}

#about .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#about .container .text-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.image-div {
    height: 200px;

}

.image-div img {
    object-fit: cover;
    height: inherit;
}

.text-div>* {
    text-align: center;
    color: #000;

}

#funkcionalnosti,
#benefiti,
#galerija,
#utisci {
    padding: 15px 30px;
}


/* FUNKCIONALNOSTI */

#funkcionalnosti .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#funkcionalnosti .container .text-div {
    background-color: rgb(177 197 208 / 20%);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(0 0 0 / 30%);
    margin: 0 10px;
    width: 280px;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.text-div .container-row {
    gap: 10px;
    justify-content: center;
}

.funkc-naslov {
    font-size: 18px;
}

.arrow-up::after {
    content: "\f106";
    font-family: FontAwesome;
}

.arrow-down::after {
    content: "\f107";
    font-family: FontAwesome;
}

#funkcionalnosti .text-div:hover {
    cursor: pointer;
}

.open-section {
    height: max-content;
}

.closed-section {
    height: 25px;
}

.open-funkc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;

    animation: open-funkc 1s normal forwards ease-in-out;
    transform-origin: 50% 0%;
}

.open-funkc img {
    height: 160px;
    width: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.closed-funkc {
    display: none;

    animation: closed-funkc 1s normal forwards ease-in-out;
    transform-origin: 100% 0%;
}

@keyframes open-funkc {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes closed-funkc {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}



/* VIDEO UPUTSTVO */

#video_uputstvo .container .video_prikaz {
    position: relative;
}

#video_uputstvo .text-div {
    padding: 15px 30px 0 30px;
    gap: 10px;
}

.video_prikaz {
    padding-top: 15px;
}

.video_prikaz img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
}


.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border: rgba(179, 179, 179, 0.3) 5px solid;

    display: grid;
    place-content: center;
    animation: grow 1s infinite;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle {
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #4F87BA;
}

.triangle:hover {
    cursor: pointer;
}

@keyframes grow {
    from {
        box-shadow: 0px 0px 1em #000;
    }

    to {
        box-shadow: 0px 0px 3em #000;
    }
}



/* BENEFITI */

#benefiti .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#benefiti .container>h2 {
    padding-bottom: 15px;
}

#benefiti .container .all-benefits {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.single-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-benefit .container-column {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.single-benefit h4 {
    padding-bottom: 5px;
}

.material-symbols-outlined {
    font-size: 26px;
}



/* GALERIJA */
#galerija .container {
    height: auto;
}

#galerija img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

/* .container-grid {
    height: 600px;
} */

.slideshow-container {
    width: 100%;
    height: fit-content;
    position: relative;
    padding-bottom: 10px;
}

.mySlide {
    display: none;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade-anim {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* UTISCI */

#utisci {
    text-align: center;
}

.utisak {
    padding: 10px 0;
    /* align-items: center; */
    /* gap: 5px; */
}

.ime-klijenta {
    font-weight: 600;
}

.review-star img {
    object-fit: cover;
    height: 15px;
    padding: 10px 0;
}



/* LAST CTA */

#last_CTA {
    /* position: relative; */
    /* height: 200px; */
    /* margin: 70px 30px 30px 30px; */

    margin: 15px 30px 30px 30px;
    padding: 15px 10px;
    border-radius: 20px;
    background-color: #4F87BA;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: end;
}

/* .CTA-img {
    position: absolute;
    bottom: 60%;
    left: 50%;
    translate: (-50%, -50%);
} */

.CTA-img img {
    object-fit: cover;
    height: 130px;
}

#last_CTA h2 {
    font-weight: 400;
    padding-bottom: 5px;
}

#last_CTA p {
    padding-bottom: 15px;
}

#last_CTA .visit-demo {
    padding: 10px 20px;
    width: 130px;

    border: 1px solid #306faa;
    border-radius: 10px;

    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: #4F87BA;

    transition: all 0.5s;
}

.visit-demo span {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.visit-demo span:after {
    content: '\00bb';
    opacity: 0;
    position: absolute;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.visit-demo:hover span {
    padding-right: 20px;

}

.visit-demo:hover span::after {
    opacity: 1;
    right: 0;
}



/* FOOTER */

#kontakt_info {
    background-color: #454545;
    color: #E6E6E6;
    padding: 30px;

    text-align: justify;

}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}

#kontakt_info h4 {
    font-size: 20px;
    font-weight: 400;
}

.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.kontakt img {
    object-fit: cover;
    height: 20px;
}

.kontakt .container-row img {
    object-fit: cover;
    height: 20px;
    display: none;
    /* samo u mobile verziji */
}

.kontakt .container-row {
    gap: 15px;
    padding-top: 5px;
}

hr {
    width: 180px;
    margin: 15px 0;
}

.social-icons {
    height: 30px;

}

.social-icons img {
    margin: 0 10px;
    object-fit: cover;
    height: 100%;
    filter: invert(90%);
}